In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
army_file = "base_locations.csv"
army_df = pd.read_csv(army_file)
army_df.head()

        Name State   Command Region Latitude   Longitude      Type  Quantity
0  Ft Rucker    AL  Training  CONUS  31.3428   -85.7154.  Air RVCT        30
1  Ft Carson    CO   FORSCOM  CONUS  38.5533  -104.8388.  Air RVCT        30
2   Ft Riley    KS   FORSCOM  CONUS  39.1000   -96.8167.  Air RVCT        30
3   Ft Bliss    TX   FORSCOM  CONUS  31.8012  -106.4215.  Air RVCT        30
4    Ft Hood    TX   FORSCOM  CONUS  31.1349   -97.7756.  Air RVCT        30

In [7]:
engine = create_engine("sqlite:///army_1.sqlite", echo=False)

In [8]:
engine.table_names()

[]

In [9]:
army_df.to_sql(name='base_locations', con=engine, if_exists='append', index=True)

In [11]:
air_rvct_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where type='Air RVCT'")

for value in air_rvct_quantity:
    print(value)

(180,)

In [12]:
air_rvct=engine.execute("SELECT * from base_locations where type='Air RVCT'")

for value in air_rvct:
    print(value)

(0, 'Ft Rucker', 'AL', 'Training', 'CONUS', '31.3428', '-85.7154.', 'Air RVCT', 30)
(1, 'Ft Carson', 'CO', 'FORSCOM', 'CONUS', '38.5533', '-104.8388.', 'Air RVCT', 30)
(2, 'Ft Riley', 'KS', 'FORSCOM', 'CONUS', '39.1000', '-96.8167.', 'Air RVCT', 30)
(3, 'Ft Bliss', 'TX', 'FORSCOM', 'CONUS', '31.8012', '-106.4215.', 'Air RVCT', 30)
(4, 'Ft Hood', 'TX', 'FORSCOM', 'CONUS', '31.1349', '-97.7756.', 'Air RVCT', 30)
(5, 'Wheeler AAF', 'HI', 'USARPAC', 'OCONUS', 'PHHI,', 'HHI),', 'Air RVCT', 30)

In [13]:
ground_rvct_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where type='Ground RVCT'")

for value in ground_rvct_quantity:
    print(value)

(1224,)

In [14]:
ground_rvct=engine.execute("SELECT * from base_locations where type='Ground RVCT'")

for value in ground_rvct:
    print(value)

(6, 'Fort Benning', 'GA', 'TRADOC', 'CONUS', '32.3597', '-84.9682.', 'Ground RVCT', 144)
(7, 'Fort Carson', 'CO', 'FORSCOM', 'CONUS', '38.5533', '-104.8388.', 'Ground RVCT', 144)
(8, 'Fort Stewart', 'GA', 'FORSCOM', 'CONUS', '31.8747', '-81.6045.', 'Ground RVCT', 144)
(9, 'Fort Riley', 'KS', 'FORSCOM', 'CONUS', '39.1000', '-96.8167.', 'Ground RVCT', 144)
(10, 'Fort Bragg', 'NC', 'FORSCOM', 'CONUS', '35.1390', '-79.0060.', 'Ground RVCT', 72)
(11, 'Fort Sill', 'OK', 'FORSCOM', 'CONUS', '34.7025', '-98.5050.', 'Ground RVCT', 36)
(12, 'Fort Bliss', 'TX', 'FORSCOM', 'CONUS', '31.8012', '-106.4215.', 'Ground RVCT', 144)
(13, 'Fort Hood', 'TX', 'FORSCOM', 'CONUS', '31.1349', '-97.7756.', 'Ground RVCT', 144)
(14, 'Fort Lewis', 'WA', 'FORSCOM', 'CONUS', '47.1079', '-122.5769.', 'Ground RVCT', 72)
(15, 'Fort McClellan', 'AL', 'ARNG', 'CONUS', '33.7065', '-85.7357.', 'Ground RVCT', 36)
(16, 'Camp Robertson', 'AR', 'ARNG', 'CONUS', '31.8593', '64.1905.', 'Ground RVCT', 36)
(17, 'Salina', 'KS', 'ARNG', 'CONUS', '38.8212', '-97.6043.', 'Ground RVCT', 36)
(18, 'Fort Pickett', 'VA', 'ARNG', 'CONUS', '37.0533', '-77.9491.', 'Ground RVCT', 36)
(19, 'Salinas', 'PR', 'ARNG', 'OCONUS', '17.9775', '-66.2980.', 'Ground RVCT', 36)

In [17]:
conus=engine.execute("SELECT * from base_locations where Region='CONUS'")

for value in conus:
    print(value)

(0, 'Ft Rucker', 'AL', 'Training', 'CONUS', '31.3428', '-85.7154.', 'Air RVCT', 30)
(1, 'Ft Carson', 'CO', 'FORSCOM', 'CONUS', '38.5533', '-104.8388.', 'Air RVCT', 30)
(2, 'Ft Riley', 'KS', 'FORSCOM', 'CONUS', '39.1000', '-96.8167.', 'Air RVCT', 30)
(3, 'Ft Bliss', 'TX', 'FORSCOM', 'CONUS', '31.8012', '-106.4215.', 'Air RVCT', 30)
(4, 'Ft Hood', 'TX', 'FORSCOM', 'CONUS', '31.1349', '-97.7756.', 'Air RVCT', 30)
(6, 'Fort Benning', 'GA', 'TRADOC', 'CONUS', '32.3597', '-84.9682.', 'Ground RVCT', 144)
(7, 'Fort Carson', 'CO', 'FORSCOM', 'CONUS', '38.5533', '-104.8388.', 'Ground RVCT', 144)
(8, 'Fort Stewart', 'GA', 'FORSCOM', 'CONUS', '31.8747', '-81.6045.', 'Ground RVCT', 144)
(9, 'Fort Riley', 'KS', 'FORSCOM', 'CONUS', '39.1000', '-96.8167.', 'Ground RVCT', 144)
(10, 'Fort Bragg', 'NC', 'FORSCOM', 'CONUS', '35.1390', '-79.0060.', 'Ground RVCT', 72)
(11, 'Fort Sill', 'OK', 'FORSCOM', 'CONUS', '34.7025', '-98.5050.', 'Ground RVCT', 36)
(12, 'Fort Bliss', 'TX', 'FORSCOM', 'CONUS', '31.8012', '-106.4215.', 'Ground RVCT', 144)
(13, 'Fort Hood', 'TX', 'FORSCOM', 'CONUS', '31.1349', '-97.7756.', 'Ground RVCT', 144)
(14, 'Fort Lewis', 'WA', 'FORSCOM', 'CONUS', '47.1079', '-122.5769.', 'Ground RVCT', 72)
(15, 'Fort McClellan', 'AL', 'ARNG', 'CONUS', '33.7065', '-85.7357.', 'Ground RVCT', 36)
(16, 'Camp Robertson', 'AR', 'ARNG', 'CONUS', '31.8593', '64.1905.', 'Ground RVCT', 36)
(17, 'Salina', 'KS', 'ARNG', 'CONUS', '38.8212', '-97.6043.', 'Ground RVCT', 36)
(18, 'Fort Pickett', 'VA', 'ARNG', 'CONUS', '37.0533', '-77.9491.', 'Ground RVCT', 36)

In [21]:
conus_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where Region='CONUS'")

for value in conus_quantity:
    print(value)

(1338,)

In [22]:
oconus=engine.execute("SELECT * from base_locations where Region='OCONUS'")

for value in oconus:
    print(value)

(5, 'Wheeler AAF', 'HI', 'USARPAC', 'OCONUS', 'PHHI,', 'HHI),', 'Air RVCT', 30)
(19, 'Salinas', 'PR', 'ARNG', 'OCONUS', '17.9775', '-66.2980.', 'Ground RVCT', 36)

In [23]:
oconus_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where Region='OCONUS'")

for value in oconus_quantity:
    print(value)

(66,)

In [24]:
forscom=engine.execute("SELECT * from base_locations where Command='FORSCOM'")

for value in forscom:
    print(value)

(1, 'Ft Carson', 'CO', 'FORSCOM', 'CONUS', '38.5533', '-104.8388.', 'Air RVCT', 30)
(2, 'Ft Riley', 'KS', 'FORSCOM', 'CONUS', '39.1000', '-96.8167.', 'Air RVCT', 30)
(3, 'Ft Bliss', 'TX', 'FORSCOM', 'CONUS', '31.8012', '-106.4215.', 'Air RVCT', 30)
(4, 'Ft Hood', 'TX', 'FORSCOM', 'CONUS', '31.1349', '-97.7756.', 'Air RVCT', 30)
(7, 'Fort Carson', 'CO', 'FORSCOM', 'CONUS', '38.5533', '-104.8388.', 'Ground RVCT', 144)
(8, 'Fort Stewart', 'GA', 'FORSCOM', 'CONUS', '31.8747', '-81.6045.', 'Ground RVCT', 144)
(9, 'Fort Riley', 'KS', 'FORSCOM', 'CONUS', '39.1000', '-96.8167.', 'Ground RVCT', 144)
(10, 'Fort Bragg', 'NC', 'FORSCOM', 'CONUS', '35.1390', '-79.0060.', 'Ground RVCT', 72)
(11, 'Fort Sill', 'OK', 'FORSCOM', 'CONUS', '34.7025', '-98.5050.', 'Ground RVCT', 36)
(12, 'Fort Bliss', 'TX', 'FORSCOM', 'CONUS', '31.8012', '-106.4215.', 'Ground RVCT', 144)
(13, 'Fort Hood', 'TX', 'FORSCOM', 'CONUS', '31.1349', '-97.7756.', 'Ground RVCT', 144)
(14, 'Fort Lewis', 'WA', 'FORSCOM', 'CONUS', '47.1079', '-122.5769.', 'Ground RVCT', 72)

In [25]:
forscom_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where Command='FORSCOM'")

for value in forscom_quantity:
    print(value)

(1020,)

In [26]:
usapac=engine.execute("SELECT * from base_locations where Command='USAPAC'")

for value in usapac:
    print(value)

In [27]:
usapac_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where Command='USAPAC'")

for value in usapac_quantity:
    print(value)

(None,)

In [28]:
tradoc=engine.execute("SELECT * from base_locations where Command='TRADOC'")

for value in tradoc:
    print(value)

(6, 'Fort Benning', 'GA', 'TRADOC', 'CONUS', '32.3597', '-84.9682.', 'Ground RVCT', 144)

In [29]:
tradoc_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where Command='TRADOC'")

for value in tradoc_quantity:
    print(value)

(144,)

In [30]:
training=engine.execute("SELECT * from base_locations where Command='Training'")

for value in training:
    print(value)

(0, 'Ft Rucker', 'AL', 'Training', 'CONUS', '31.3428', '-85.7154.', 'Air RVCT', 30)

In [31]:
training_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where Command='Training'")

for value in training_quantity:
    print(value)

(30,)

In [32]:
arng=engine.execute("SELECT * from base_locations where Command='ARNG'")

for value in arng:
    print(value)

(15, 'Fort McClellan', 'AL', 'ARNG', 'CONUS', '33.7065', '-85.7357.', 'Ground RVCT', 36)
(16, 'Camp Robertson', 'AR', 'ARNG', 'CONUS', '31.8593', '64.1905.', 'Ground RVCT', 36)
(17, 'Salina', 'KS', 'ARNG', 'CONUS', '38.8212', '-97.6043.', 'Ground RVCT', 36)
(18, 'Fort Pickett', 'VA', 'ARNG', 'CONUS', '37.0533', '-77.9491.', 'Ground RVCT', 36)
(19, 'Salinas', 'PR', 'ARNG', 'OCONUS', '17.9775', '-66.2980.', 'Ground RVCT', 36)

In [33]:
arng_quantity=engine.execute("SELECT SUM(Quantity) from base_locations where Command='ARNG'")

for value in arng_quantity:
    print(value)

(180,)