In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import webbrowser
import os
import csv
import pandas as pd

In [2]:
# Define files
base_file = "base_data.csv"
state_file = "state_data.csv"

In [3]:
# Open the CSV files

base_file_df = pd.read_csv(base_file, encoding="ISO-8859-1")
base_file_df

                   Base
0             Ft Rucker
1                 WAATS
2                 EAATS
3             Ft Carson
4            Hunter AAF
5              Ft Riley
6              Ft Bragg
7               Ft Drum
8              Ft Bliss
9               Ft Hood
10                 JBLM
11        Ft Wainwright
12          Wheeler AAF
13       Camp Humphreys
14              USAREUR
15          Gowen Field
16          Shelbyville
17              Hammond
18         Camp Edwards
19         Grand Island
20   Ft Indian Town Gap
21                  TBD
22                  TBD
23         Fort Benning
24          Fort Gordon
25    Fort Leonard Wood
26             Fort Lee
27    Fort Campbell SOF
28       Fort Bragg SOF
29          Fort Carson
..                  ...
64              Augusta
65        Camp Grayling
66          Camp Ripley
67               Neosho
68          Camp Shelby
69               Helena
70            Rougemont
71          Devils Lake
72                 Mead
73            Strafford
74                JBMDL
75           Las Cruses
76                 Reno
77            Cortlandt
78           Camp Perry
79               Braggs
80            Warrenton
81  Fort Indiantown Gap
82       East Greenwich
83             Eastover
84          Sioux Falls
85               Smyrna
86           Gatesville
87            Bluffdale
88         Fort Pickett
89             ST Croix
90                 JBER
91         FT Juan Muna
92              Kapolei
93              Salinas

[94 rows x 1 columns]

In [4]:
# Open the CSV files

state_file_df = pd.read_csv(state_file, encoding="ISO-8859-1")
state_file_df

      State
0        AL
1        AZ
2        PA
3        CO
4        GA
5        KS
6        NC
7        NY
8        TX
9        TX
10       WA
11       AK
12       HI
13    Korea
14  USAREUR
15       ID
16       IN
17       LA
18       MA
19       NE
20       PA
21      TBD
22      TBD
23       GA
24       GA
25       MO
26       VA
27       KY
28       NC
29       CO
..      ...
64       ME
65       MI
66       MN
67       MO
68       MS
69       MT
70       NC
71       ND
72       ND
73       NH
74       NJ
75       NV
76       NV
77       NY
78       OH
79       OK
80       OR
81       PA
82       RI
83       SC
84       SC
85       TN
86       TX
87       UT
88       VA
89       VI
90       AK
91       GU
92       HI
93       PR

[94 rows x 1 columns]

In [5]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [6]:
# Define database and collection
db = client.nhl_db
collection = db.articles

In [14]:
Base_Locations_df = pd.DataFrame(columns=['Name', 'State', 'Latitude', 'Longitude'])
#request_headers = {
#    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
#    'accept-encoding': 'gzip, deflate, br',
#    'accept-language': 'en-US,en;q=0.8',
#    'upgrade-insecure-requests': '1',
#    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36'
#}

text = 'GPS coordinates of '
space = ' '
location_string = ' '

#count = base_file_df.shape[0]
count = 5
i = 0

while i < count:
    try:
        location_string = ' '
        base_name = str(base_file_df.loc[i].item())
        state = str(state_file_df.loc[i].item())
        url = 'http://google.com/search?q=' + text + base_name + space + state
        print(url)
        
        response = requests.get(url)
        #with requests.Session() as s:
        #    response = s.get(url, headers=request_headers)
        
        #print(response)
        soup = BeautifulSoup(response.text, 'lxml')
        for g in soup.find_all(class_='g'):
            location_string = g.text
            break
        
        location_string = location_string.split(':')
        print(location_string)
        base_lat = location_string[3].rsplit(' ')[1]
        base_long = location_string[4].rsplit(' ')[1]   

        print(f'Base:{base_name} {state}')
        print(f'Lat:{base_lat}')
        print(f'Long:{base_long}')
        Base_Locations_df = Base_Locations_df.append({'Name': base_name, 'State': state, 'Latitude': base_lat, 'Longitude': base_long}, ignore_index=True)
        i = i + 1
        
    except:
        print(response)
        i = i + 1

http://google.com/search?q=GPS coordinates of Ft Rucker AL
['GPS coordinates of Fort Rucker, United States. Latitude', ' 31.3428 ...https', '//latitude.to/map/us/united-states/cities/fort-ruckerCachedGPS coordinates of Fort Rucker, United States. Latitude', ' 31.3428 Longitude', ' -85.7154.']
Base:Ft Rucker AL
Lat:31.3428
Long:-85.7154.
http://google.com/search?q=GPS coordinates of WAATS AZ
['Arizona, USA Map Lat Long Coordinates - Latitude and Longitudehttps', "//www.latlong.net/place/arizona-usa-2688.htmlCachedThe latitude of Arizona, USA is 34.048927, and the longitude is -111.093735. Arizona, USA is located at United States country in the States place category with the gps coordinates of 34° 2' 56.1372'' N and 111° 5' 37.4460'' W."]
<Response [200]>
http://google.com/search?q=GPS coordinates of EAATS PA
["Pennsylvania, USA Lat Long Coordinates Info. The latitude of Pennsylvania, USA is 41.203323, and the longitude is -77.194527. Pennsylvania, USA is located at United States country in the States place category with the gps coordinates of 41° 12' 11.9628'' N and 77° 11' 40.2972'' W.Pennsylvania, USA Map Lat Long Coordinateshttps", '//www.latlong.net/place/pennsylvania-usa-3230.html']
<Response [200]>
http://google.com/search?q=GPS coordinates of Ft Carson CO
['GPS coordinates of Fort Carson, United States. Latitude', ' 38.5533 ...https', '//latitude.to/articles-by-country/us/united-states/.../fort-carsonCachedGPS coordinates of Fort Carson, United States. Latitude', ' 38.5533 Longitude', ' -104.8388.']
Base:Ft Carson CO
Lat:38.5533
Long:-104.8388.
http://google.com/search?q=GPS coordinates of Hunter AAF GA
['Hunter Army Airfield, Savannah, GA, USA Map Lat Long Coordinateshttps', "//www.latlong.net/.../hunter-army-airfield-savannah-ga-usa-4256.htmlCachedThe latitude of Hunter Army Airfield, Savannah, GA, USA is 32.015644, and the longitude is -81.143127. Hunter Army Airfield, Savannah, GA, USA is located at United States country in the Airports place category with the gps coordinates of 32° 0' 56.3184'' N and 81° 8' 35.2572'' W."]
<Response [200]>

In [15]:
Base_Locations_df

        Name State Latitude   Longitude
0  Ft Rucker    AL  31.3428   -85.7154.
1  Ft Carson    CO  38.5533  -104.8388.

In [ ]:
# Dictionary to be inserted into MongoDB
    base_location = {
        'base': base_name,
        'state': state,
        'latitude': base_lat,
        'longitude': base_long
    }

In [ ]:
 # Insert dictionary into MongoDB as a document
    collection.insert_one(base_location)